<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.englishlearningapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".utils.GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.RankActivity"></activity>
        <activity android:name=".activity.InGameHistoryActivity" />
        <activity android:name=".activity.TopicActivity" />
        <activity android:name=".activity.GameActivity" />
        <activity android:name=".activity.RoomListActivity" />
        <activity android:name=".activity.RoomInfoActivity" />
        <activity android:name=".activity.CreateRoomActivity" />
        <activity android:name=".activity.ConnetedWordActivity" />
        <activity android:name=".activity.TopicDetailActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.VietnameseMeaningActivity" />
        <activity android:name=".activity.VietnameseActivity" />
        <activity android:name=".activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.MeaningActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GameHistoryActivity" />
        <activity android:name=".activity.ScheduleActivity" />
        <activity
            android:name=".activity.MainHomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.englishlearningapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>